body {
	background-color: #111111;
	color: #FFFFFF;
	font-size: 16pt;
	margin: 0px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

h1 {
	margin: 0px;
}

h3 {
	font-size: 24pt;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

header {
	display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
	justify-content: center;
}

#logo {
	width: 100%;
	font-size: 48pt;
	text-align: center;
	margin-bottom: 3%;
	color: #FFFFFF;
}

#search {
	width: 80%;
    padding-bottom: 50px;
}

#search-bar {
	width: 80%;
    border: none;
    height: 20pt;
    border-radius: 3pt;
    font-size: 16pt;
    padding: 10px;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#submit {
	width: 170px;
	border-radius: 3pt;
	background-color: #FF9C09;
	margin-left: 25px;
	font-size: 16pt;
	outline: none;
	margin-top: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
}

#city {
	font-size: 56pt;
	width: 80%;
}

#weather-icon {
	width: 10%;
	display: flex;
}

#w-icon {
	align-self: center;
}

#description {
	color: #AAAAAA;
	margin-bottom: 0px;
	margin-top: 0px;
}

#temperature {
	display: flex;
	text-align: center;
	font-size: 48pt;
	width: 10%;
}

#temp {
	align-self: center;
}

#information {
	display: flex;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 20pt;
}

main {
	margin-top: 20px;
}

.info {
	width: 50%;
	text-align: center;
}

#forecast {
	display: flex;
}

.day {
	width: 20%;
}

.forecast-day-title {
	text-align: center;
	width: 100%;
}

.forecast-icon {
	width: 75px;
}

.min {
	text-align: center;
}

.max {
	text-align: center;
}

summary {
	outline:none;
}

#hourly-forecast {
	display: flex;
	flex-wrap: wrap;
}

#hourly-title {
	width: 100%;
	font-size: 24pt;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

#graphs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.graph-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
}

.graph {
	background-image: url("images/graph_bg.jpg");
	background-repeat: repeat;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-self: flex-end;
}

.graph-entry {
	align-self: flex-end;
	background-color: #FFFFFF;
	text-align: center;
	color: #000000;
}

.left-scale {
	text-align: center;
	align-self: flex-end;
	width: 7%;
	padding-right: 3%;
	color: #AAAAAA;
	font-size: 12pt;
	line-height: 20px;
}

.bottom-scale {
	padding-top: 15px;
	display: flex;
	text-align: center;
	padding-left: 10%;
	width: 90%;
	color: #AAAAAA;
	font-size: 12pt;
}

#timestamp {
	text-align: right;
	color: #888888;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* --- --- --- SMALL SCREENS --- --- --- */
@media only screen and (max-width: 900px) {
	.graph-container {
		width: 96%;
	}
	#card {
		padding: 0px;
	}
}

/* --- --- --- MEDIUM SCREENS --- --- --- */
@media only screen and (min-width: 900px) and (max-width: 1440px) {
	.graph-container {
		width: 43%;
	}
}

/* --- --- --- LARGE SCREENS --- --- --- */
@media only screen and (min-width: 1440px) {
	.graph-container {
		width: 29.333%;
	}
}
