body {
	background-color: #111111;
	color: #FFFFFF;
	font-size: 16pt;
	margin: 0px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

h1 {
	margin: 0px;
}

h3 {
	font-size: 24pt;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

header {
	display: flex;
    flex-wrap: wrap;
}

#city {
	font-size: 56pt;
	width: 50%;
}

#weather-icon {
	width: 20%;
}

#w-icon {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

#description {
	color: #AAAAAA;
	margin-bottom: 0px;
}

#temperature {
	text-align: center;
	font-size: 48pt;
	width: 30%;
}

#temp {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

main {
	margin-top: 20px;
}

.information {
	display: flex;
}

.info {
	width: 50%;
	text-align: center;
}

#forecast {
	display: flex;
}

.day {
	width: 20%;
}

.forecast-day-title {
	text-align: center;
}

.forecast-icon {
	width: 75px;
}

.min {
	text-align: center;
}

.max {
	text-align: center;
}

#hourly-forecast {
	display: flex;
	flex-wrap: wrap;
}

#hourly-title {
	width: 100%;
	font-size: 24pt;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

#graphs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.graph-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
}

.graph {
	background-image: url("images/graph_bg.jpg");
	background-repeat: repeat;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}

.graph-entry {
	align-self: flex-end;
	background-color: #ffbf80;
	text-align: center;
	color: #FFFFFF;
	height: 50%;
}

.left-scale {
	text-align: center;
	align-self: flex-end;
	width: 7%;
	padding-right: 3%;
	color: #AAAAAA;
	font-size: 12pt;
	line-height: 20px;
}

.bottom-scale {
	padding-top: 15px;
	display: flex;
	text-align: center;
	padding-left: 10%;
	width: 90%;
	color: #AAAAAA;
	font-size: 12pt;
}

#timestamp {
	text-align: right;
	margin-bottom: 0px;
	color: #888888;
	padding-top: 5%;
}

/* --- --- --- SMALL SCREENS --- --- --- */
@media only screen and (max-width: 900px) {
	.graph-container {
		width: 96%;
	}
	#card {
		padding: 0px;
	}
}

/* --- --- --- MEDIUM SCREENS --- --- --- */
@media only screen and (min-width: 900px) and (max-width: 1440px) {
	.graph-container {
		width: 43%;
	}
}

/* --- --- --- LARGE SCREENS --- --- --- */
@media only screen and (min-width: 1440px) {
	.graph-container {
		width: 29.333%;
	}
}
