body {
	background-color: #111111;
	color: #FFFFFF;
	font-size: 16pt;
	margin: 0px;
}

h1 {
	margin: 0px;
}

h3 {
	font-size: 24pt;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

header {
	display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
	justify-content: center;
}

#logo {
	width: 100%;
	font-size: 48pt;
	text-align: center;
	margin-bottom: 3%;
	color: #FFFFFF;
}

#search {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
    padding-bottom: 50px;
}

#s {
	display: flex;
	width: 100%;
	justify-content: center;
}

#search-bar {
	width: 70%;
    border: none;
    height: 26px;
    border-radius: 3pt;
    font-size: 16pt;
    padding: 10px;
	outline: none;
	display: block;
}

#submit {
	height: 46px;
	width: 170px;
	border-radius: 3pt;
	background-color: #FF9C09;
	font-size: 16pt;
	outline: none;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
}

#city {
	display: none;
	font-size: 56pt;
}

#weather-icon {
	display: none;
}

#w-icon {
	align-self: center;
}

#description {
	color: #AAAAAA;
	margin-bottom: 0px;
	margin-top: 0px;
}

#temperature {
	display: none;
	text-align: center;
	font-size: 48pt;
}

#temp {
	align-self: center;
}

#information {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 20pt;
}

main {
	margin-top: 20px;
	display: none;
}

.info {
	width: 50%;
	text-align: center;
}

#forecast {
	display: flex;
	flex-wrap: wrap;
}

.forecast-day-title {
	text-align: center;
	width: 100%;
}

.forecast-icon {
	width: 75px;
}

.min {
	text-align: center;
}

.max {
	text-align: center;
}

summary {
	outline:none;
}

#hourly-forecast {
	display: flex;
	flex-wrap: wrap;
}

#hourly-title {
	width: 100%;
	font-size: 24pt;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

#graphs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.graph-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
}

.graph {
	background-repeat: repeat;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-self: flex-end;
}

.graph-entry {
	align-self: flex-end;
	background-color: #FFFFFF;
	text-align: center;
	color: #000000;
}

.left-scale {
	text-align: center;
	align-self: flex-end;
	width: 7%;
	padding-right: 3%;
	color: #AAAAAA;
	font-size: 12pt;
	line-height: 20px;
}

.bottom-scale {
	padding-top: 15px;
	display: flex;
	text-align: center;
	padding-left: 10%;
	width: 90%;
	color: #AAAAAA;
	font-size: 12pt;
}

#timestamp {
	text-align: right;
	color: #888888;
	margin-top: 25px;
	margin-bottom: 25px;
}

.switch {
	display: block;
	margin-left: 10px;
	width: 116px;
	color: #AAAAAA;
	background-color: #FFFFFF;
	border-radius: 3pt;
	padding: 6px;
	text-align: center;
}

.switch input {
	display:none;
}

.slider {
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 3pt;
}

.slider:before {
	display: block;
	height: 34px;
	background-color: #FFFFFF;
	content: "celsius";
	text-align: center;
	border-radius: 2pt;
	line-height: 34px;
}

input:checked + .slider {
  background-color: #FFFFFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFFFFF;
}

input:checked + .slider:before {
  content: "fahreinheit";
}
